<% talent = args[1].find { |talent| talent.id == args[0] } %>
<% if talent.nil? %>
    <span>N/A</span>
<% else %>
    <span><a href="../talent/<%= talent.id %>.html#<%= talent.name_en %>"><%= talent.name_en %></a> - <%= talent.desc_en %></span>
<% end %>
